{% extends "templates/web.html" %}

{% block style %}
<style>
    {% include "templates/includes/signup/frappe-theme.css" %}
	{% include "templates/includes/prepare_site/prepare_site.css" %}
</style>
{% endblock %}

{% block page_content %}
<section style="padding: 0px;">
	<div class="container">
		<div class="card w-500 card-body custom-padding">
			<div class="text-center">
				<h4> Your OneHash account is being prepared.</h4>
			</div>
		<!-- Icon Spinner -->
			<div class="icon-spinner">
				<div id="icon-spinner">
					<div>
						<i class="fas fa-handshake"></i>
						<i class="fas fa-funnel-dollar"></i>
						<i class="fas fa-chart-line"></i>
						<i class="fas fa-bullhorn"></i>
						<div></div>
					</div>
				</div>
			</div>
		<!-- COLOR SPINNER -->
			<!-- <div class="color-spinner" style="margin:0 auto;"></div> -->

		<!-- LDS SPINNER -->
			<!-- <div class="lds-css ng-scope">
				<div class="lds-spinner" style="margin:0 auto;">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div> -->

		<!-- PROGRSS BAR -->
			<!-- <div class="progress-chart center-progress" style ="width: 150px;">
				<div class="progress">
					<div class="progress-bar" style="width: 2%; background-color: #5e64ff;"></div>
				</div>
			</div> -->
			<center>
					<p class="setup-message text-muted" style="padding:10px;">Creating Your Instance.</p>
			</center>
			<center>
				<p class="text-muted" style="padding:10px;">It may take upto 5 minutes. You will get an Email Alert once your account is ready.</p>
			</center>
		</div>
		<div class="card w-500 card-body custom-padding">
			<center>
				<p class="text-muted" style="padding: 10px;">Now that your instance is being created with us, why don't you take a tour of the instance before you start using it?</p>
				<!-- <iframe src="https://drive.google.com/file/d/1Jkf3CyEiUE6ykiF94vj_jKWcSpdnwObA/preview" width="auto" height="240" allow="autoplay"></iframe> -->
				<div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/581097764?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="OneHash CRM.webm"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
				<!-- <iframe src="https://player.vimeo.com/video/580591050" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe> -->
			</center>
		</div>
		<div class="card w-500 card-body custom-padding">
			<center>
				<p class="text-muted" style="padding-inline: 10px;">Book a personalized demo with our experts to unfold all the features of OneHash CRM.</p>
				<a class="btn btn-outline-dark" href="https://calendly.com/onehash/anand/" target="_blank">Book Demo</a>
			</center>
		</div>
	</div>
</section>
{% endblock %}

{% block script %}    
	<script src="https://kit.fontawesome.com/b597afc600.js" crossorigin="anonymous"></script>
    <script>{% include "templates/includes/prepare_site/prepare_site.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}