{% extends "templates/web.html" %} {% block style %}
<style>
    {% include "templates/includes/signup/frappe-theme.css" %}
    
    {% include "templates/includes/signup/signup.css" %}
</style>
{% endblock %} {% block page_content %}
<!-- {{ for_test }} -->
<section class="top-section staged-form">
    <div class="container">
        <h1 class="mb-4 text-center">Sign Up for OneHash</h1>

        <div class="missing-domain-msg text-center hidden w-500 mb-4">
            <p class="alert alert-warning"><span class="missing-domain text-primary"></span> is not available</p>
            <i class="octicon octicon-chevron-down mega-octicon" style="color: #36414C;"></i>
        </div>

        <div>
            <div class="w-500 card text-left">
                <div class="signup-card card-body">
                    <form class="signup-state-details" role="form">
                        <div class="form-group row" style="margin-bottom: 0px;">
                            <div class="col-md-6">
                                <p class="help-block">First Name</p>
                                <input type="text" name="first_name" class="form-control">
                                <p class="validation-message"></p>
                            </div>
                            
                            <div class="col-md-6">
                                <p class="help-block">Last Name</p>
                                <input type="text" name="last_name" class="form-control">
                                <p class="validation-message"></p>
                            </div>
                        </div>
                        <div class="form-group signup-subdomain">
                            <p class="help-block">Your Sitename <em class="small text-muted">(use only letters and numbers)</em></p>
                            <div class="input-group">
                                <input name="subdomain" placeholder="mycompany" class="form-control" type="text">
                                <div class="input-group-append">
                                    <span class="input-group-text">.onehash.ai</span>
                                </div>
                            </div>
                            <div class="availability" style="font-size: 80%; font-weight: 400;">
                                <span class="availability-status text-success" style="height: 21px;"><span></span></span>
                                <span class="availability-spinner small text-muted hidden">checking...</span>
                            </div>
                            <p class="validation-message small"></p>
                        </div>
                        <div class="form-group ">
                            <p class="help-block">Company Name</p>
                            <input name="company_name" placeholder="Your Company Name" class="form-control" type="text">
                            <p class="validation-message"></p>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" style="margin-bottom: 21px;">
                                <p class="help-block">Your Email</p>
                                <input name="email" placeholder="jane_doe@example.com" class="form-control" type="text">
                                <p class="validation-message" id="emailValidationMsg">Please enter a valid email address</p>
                            </div>
                            <div class=" form-group col-md-6" style="margin-bottom: 21px;">
                                <p class="help-block">Password</p>
                                <input type="password" name="passphrase" id="passphrase" class="form-control">
                                <span class="password-strength-indicator indicator"></span>
                                <p class="password-strength-message text-muted small hidden"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-0 col-md-6" >
                                <p class="help-block">Phone Number</p>
                                <input id="tphone" name="phone_number" placeholder="9823 000 000" class="form-control" type="tel" min="0">
                            </div>
                            <div class="form-group mb-0 col-md-6">
                                <div class=".verify-otp hide">
                                    <form>
                                        <p class="help-block">Enter OTP</p>
                                        <input name="otp" placeholder="******" id="otp" class="form-control" type="text">
                                        <p class="validation-message"></p>
                                    </form>
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-block hide" type="button" style="margin-top: 27px;" id="getOTP">Get OTP</button><br>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center mb-4 text-muted small" style="margin-top: 20px;">
                            <label>
                                <input name="agree-checkbox" type="checkbox" aria-label="Accept Terms and Privacy Policy" onclick="toggle_button(event)">
                                <span>I have read and agree to the <a href="https://onehash.ai/terms-of-use" target="_blank" style="color: #2490ef;">Terms of Use</a> and </span><a href="https://onehash.ai/privacy" target="_blank" style="color: #2490ef;">Privacy Policy</a>
                            </label>
                        </div>
                        <div class="form-group col-md-6 offset-md-3 text-center">
                            <button type="button" class="btn btn-primary btn-lg btn-block get-started-button" disabled='false'>Get Started</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block script %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />

<script src="https://kit.fontawesome.com/b597afc600.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script>{% include "templates/includes/signup/signup.js" %}</script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lf6AeoaAAAAAASjFWeZlIS4zUpaa0jSxFAkjG2q"></script>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9HWLSJ"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
{% endblock %} {% block sidebar %}{% endblock %}