{% extends "templates/web.html" %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({"gtm.start":
	new Date().getTime(),event:"gtm.js"});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!="dataLayer"?"&l="+l:"";j.async=true;j.src="https://www.googletagmanager.com/gtm.js?id="+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,"script","dataLayer","GTM-W9HWLSJ");</script>
	<!-- End Google Tag Manager -->
{% block style %}
<style>
    {% include "public/css/font-awesome.min.css" %}


.rounded-lg {
  border-radius: 1rem !important;
}

.text-small {
  font-size: 0.9rem !important;
}

.custom-separator {
  width: 5rem;
  height: 2px;
  border-radius: 1rem;
}

</style>
{% endblock %}

{% block page_content %}
<!-- {{ for_test }} -->
<div class="container">
        <div>
            {% set unpaid_count = namespace(value=0) %}
            {% for invoice in invoices %}
                {% if invoice.status not in ["paid","void"] %}
                    {% if unpaid_count.value==0 %}
                    <div class="alert border-warning">
                        {% set unpaid_count.value = unpaid_count.value+1 %}
                    {% endif %}
                    <div class="row mb-3">
                        <div class="col-3">{{ frappe.format_date(invoice.created|timeformat) }} <a href="{{invoice.hosted_invoice_url}}"><i class="fa fa-external-link"></i></a></div>
                        <div class="col-3"><span class="badge {% if invoice.status=='paid' %}badge-success{% elif invoice.status=='open' %}badge-danger{% else %}badge-secondary{%endif%}">{% if invoice.status=="open" %}Unpaid{% else %}{{ invoice.status |capitalize }}{% endif %}</span></div>
                        <div class="col-3">{{ frappe.format(invoice.amount_due/100, {'fieldtype': 'Currency',"options": invoice.currency|upper}, currency=invoice.currency|upper) }}</div>
                        <div class="col-3"><a class="btn btn-outline-primary btn-xs" href="{{invoice.hosted_invoice_url}}">Pay Now</a></div>
                    </div>
                {% endif %}
                
                {% endfor %}
            {% if unpaid_count.value>0 %}
                </div>
            {% endif %}

            <div role="alert" class="alert border-primary" id="site_info">
                <div class="row">
                    <div class="col-md-4 col-xs-12 text-center"><strong>{{site.name}}</strong><br>
                        {% if site.expiry.strftime("%Y-%m-%d") >= frappe.utils.today() %}
                        <i class="fa fa-check-circle text-success">&nbsp;Active</i>
                        {% else %}
                        <i class="fa fa-ban text-danger">&nbsp;Expired</i>
                        {% endif %}
                    </div>
                    <div class="col-md-4 col-xs-12 text-center"><span class="badge badge-dark" title="Current Plan">{{site.base_plan}}</span><br>
                        <small>{% if site.expiry.strftime("%Y-%m-%d") < frappe.utils.today() %}
                            Expired On: {{frappe.format_date(site.expiry) }}
                        {% else %}
                        Renews On: {{frappe.format_date(site.expiry)}}
                       {% endif %}
                       </small>
                    </div>
                    <div class="col-md-4 col-xs-12 text-center">{% if current_subscription %}
                        <!-- <small>Current Balance: {{ frappe.format(balance, {"fieldtype":"Currency","Options":currency})}}
                        <button id="add-balance" type="button" title="Add Balance" class="btn btn-xs btn-outline-primary border-primary" id="Add Balance" onclick="javascript:add_balance(this);">
                            <i class="fa fa-plus"></i>&nbsp;Add
                        </button></small> -->
                        {% endif %}</div>
                </div>
            </div>
            <div class="my-5">
                <h4>Choose your plan</h4>
                <hr>
                <section>
                    <div class="row text-center align-items-end">
                    {% for plan_name,plan in plans.items() %}
                    {% if active_plan.name==plan.name %}
                        <!-- Pricing Table-->
                    <div class="col-lg-4 mb-5 ">
                        <div class="bg-white p-5 rounded-lg shadow">
                        <h1 class="h6 text-uppercase font-weight-bold mb-4">{{plan.name}}</h1>
                        <h2 class="h1 font-weight-bold">{{ frappe.utils.fmt_money(plan.cost, currency = plan.currency, precision = 0) }}<span class="text-small font-weight-normal ml-2">{% if not plan.is_unlimited %} / {{plan.uom}} {% endif %} / {{plan.billing_interval}}</span></h2>
                        <div class="custom-separator my-4 mx-auto bg-primary"></div>
                        {% if plan.is_unlimited %}
                        <ul class="list-unstyled my-5 text-small text-left">
                            <li class="mb-3">
                            <i class="fa fa-check mr-2 text-primary"></i>Unlimited {{plan.uom}}s</li>
                        </ul>
                        {% else %}
                        <ul class="list-unstyled my-5 text-small text-left">
                            <li class="mb-3">
                            <i class="fa fa-check mr-2 text-primary"></i>Pay as you go</li>
                        </ul>
                        {% endif %}
                        <a href="javascript:;" data-type="plan" data-name="{{plan.name}}" class="btn btn-primary plan btn-block p-2 shadow rounded-pill {% if active_plan.name==plan.name %}disabled{% endif %}">{% if active_plan.name==plan.name %}Current Plan{% else %}Select{% endif %}</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}    
                </div>
                </section>
            </div>
            <div class="my-5">
                <h4>Add-Ons</h4>
                <hr>
                <div class="row text-center align-items-end" id="saas-addons">
                    {% for plan_name,plan in add_ons.items() %}
                    <div class="col-lg-4 mb-5 ">
                        <div class="bg-white p-5 rounded-lg shadow">
                        <h1 class="h6 text-uppercase font-weight-bold mb-4">{{plan.name}}</h1>
                        <h2 class="h3 font-weight-bold">{{ frappe.utils.fmt_money(plan.cost, currency = plan.currency, precision = 0) }}<span class="text-small font-weight-normal ml-2">{% if not plan.is_unlimited %} / {{plan.uom}} {% endif %} / {{plan.billing_interval}}</span></h2>
                        <div class="custom-separator my-4 mx-auto bg-primary"></div>
                        {% if plan.is_unlimited %}
                        <ul class="list-unstyled my-5 text-small text-left">
                            <li class="mb-3">
                            <i class="fa fa-check mr-2 text-primary"></i>Unlimited {{plan.uom}}s</li>
                        </ul>
                        {% else %}
                        <ul class="list-unstyled my-5 text-small text-left">
                            <li class="mb-3">
                            <i class="fa fa-check mr-2 text-primary"></i>Pay as you go</li>
                        </ul>
                        {% endif %}
                        <a href="javascript:;" data-type="add_ons" data-name="{{plan.name}}" class="btn btn-primary plan btn-block p-2 shadow rounded-pill {% if plan.name in subscription_plans %}disabled{% endif %}">{% if plan.name in subscription_plans %}Current Plan{% else %}Add to Plan{% endif %}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <div class="my-5">
                    <h5>Cart</h5>
                    <hr>
                    <div id="checkout-wrapper">
                        {{ frappe.render_template("templates/includes/upgrade/cart.html", {"cart":current_subscription.plans,"plans":plans,"add_ons":add_ons,"currency":active_plan.currency, "tax_rate":tax_rate,"min_space_block":min_space_block}) }}
                    </div>
                    <div class="mt-3 row">
                        <div class="card border col-md-6">
                            <div class="card-body">
                        <div class="" style="font-size: smaller;">
                            <h6>Billing Address &nbsp; <button class="btn btn-primary btn-xs pull-right" onclick="javascript:add_address('{{site.name}}');" style="margin-right:15px;font-size:smaller;" 
                                id="change-billing-address-link"><i class="fa fa-plus"></i>&nbsp;Add
                            </button></h6>
                            <hr>
                            <div id="address-wrapper" style="max-height:200px; overflow: scroll;">
                                {{frappe.render_template("templates/includes/upgrade/address.html",{"address":address}) }}
                            </div>
                        </div>
                    </div>
                    </div>
                        <div class="offset-md-1 col-md-4 card border">
                            <div class="card-body">
                                    <form id="promocode-form" action="javascript:;" >
                                        <div class="form-group"> <label><h6>Have PromoCode?</h6></label>
                                            <div class="input-group"> <input type="text" class="form-control coupon" name="promocode" required placeholder="Enter code" > 
                                                <span class="input-group-append">
                                                    <button class="btn btn-apply btn-outline-primary coupon">Apply</button>
                                                </span>
                                            </div>
                                            <div class="invalid-feedback" id="promo-validation-feedback"></div>
                                        </div>
                                    </form>
                                </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="mt-3 col-md-4 offset-md-7 text-center">
                        <div class="alert alert-info hide" id="pay-message"></div>
                        <button class="btn btn-primary" id="payment-button">{% if current_subscription and current_subscription.subscription_id %}Update{% else %}Pay Now{% endif %}</button>
                    </div>
                    <!---->
                    <!---->
                    <!---->
                </div>
                <!---->
                <!---->
            </div>
            <div class="my-5">
                <h5>Invoice History</h5>
                    <hr>
                    <div id="checkout-wrapper">
                        {{ frappe.render_template("templates/includes/upgrade/invoices.html", {"invoices":invoices}) }}
                    </div>
                    
            </div>
        </div>
    
</div>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9HWLSJ"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% block script %}
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="/assets/js/control.min.js"></script>
<script type="text/javascript" src="/assets/js/dialog.min.js"></script>
<script>{% include "templates/includes/upgrade/upgrade.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}