<div style="width: 100%; display: flex; justify-content: center;">
	<img src="https://app.onehash.ai/files/signup_otp.png">
</div>
<br>
<p>Hello {{ first_name }},</p>
<p>Greetings from OneHash CRM! We hope this message finds you well!</p>
<br>
<p>Now that you have signed up for our system, you are just a click away from a one-stop-destination for all your
	business
	requirements.</p>
<br>
<p>Enter the verification code given below, and dive into the instance of OneHash CRM. The validity of this code is for
	the
	next 10 minutes and can only be used once.</p>
<br>
<p>Verification Code: <strong>{{ otp }}</strong></p>
<br>
<p>Once you enter this code your account will be verified and you can enjoy all the benefits of our platform. We are
	grateful to have you on board with us!</p>
<br>
<p>Cheers,<br>
	Team OneHash</p>