<div style="width: 100%; display: flex; justify-content: center;">
	<img src="https://staging.onehash.ai/files/subscription_cancelled.png">
</div>
<br>
<p>Hey {{ name }},</p>
<p>{{_("Your subscription at OneHash Technologies has been successfully cancelled for")}} <a href={{ site_url }}
		target="_blank">{{ site }}</a>.</p>
<p>{{_("We are sorry to see you go!")}}</p>
<br>
<p>{{_("Below is the summary of your cancellation:")}}</p>
<br>
<strong>{{_("Subscription Id")}}</strong>
<p>{{ subscription_id }}</p>
<br>
<strong>{{_("Subscription Plan:")}}</strong>
<p>{{ subscription_plan }}</p>
<br>
<strong>{{_("Date of Cancellation:")}}</strong>
<p>{{ cancellation_date }}</p>
<br>
<strong>{{_("Subscription Ending Date:")}}</strong>
<p>{{ ending_date }}</p>
<br>
<br>
<p>{{_("Your site will expire on {0}.").format(site_expiry_date)}}</p>
<p>{{_("Wishing you all the best,")}}<br>
	{{_("Team OneHash")}}</p>
<br>
