:root {
    --Red: #D13830;
    --Yellow: #E5A403;
    --Green: #0E8C4A;
    --Blue: #377DE2;
}

h6 {
    font-weight: 600;
}

.navbar {
    /*	background-color: #5e64ff !important;
        */
}

.form-horizontal-group {
    display: flex;
    justify-content: space-between
}

.form-horizontal-group .form-group {
    flex: 1;
}

.level {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscription-box {
    border: 1px solid #cdd4d9;
    border-radius: 3px;
    background: #fafbfc;
    padding: 15px;
}

.stage {
    z-index: 1;
}

.stage-names {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
}

.stage-name {
    width: 6rem;
}

.stage::after {
    content: '';
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.75rem;
    background: #e1e7eb;
}

.stage.completed::after {
    border: 5px solid #e1e7eb;
    background: #615fff;
}

.stage-container {
    display: flex;
    position: relative;
    justify-content: space-around;
}

.stage-line {
    position: absolute;
    height: 5px;
    min-width: 70%;
    top: 9px;
    background: #e1e7eb;
}

.staged-form {
    padding: 0px;
    margin-top: 0px;
}

.text-extra-muted {
    color: #d1d8dd !important;
}

.form-group {
    position: relative;
}

.hero-and-content {
    background-color: #f5f7fa;
}

[data-html-block="header"] {
    text-align: center;
}

.signup-subdomain{
    margin-top: 5px;
}

.help-block {
    margin-bottom: 0px;
}

.availability {
    position: absolute;
}

.availability-status i,
.availability-spinner i {
    margin: 5px;
    font-size: 16px;
}

.validation-message {
    display: none;
    margin-top: 0px;
    position: absolute;
}

#emailValidationMsg{
    font-size: 80%;
    font-weight: 400;
    margin-bottom: 0px;
}

.invalid .validation-message {
    color: var(--Yellow);
    display: inherit;
}

.invalid input {
    border-color: var(--Yellow);
    background-color: #fffdf4;
}


/* Disable signup footer message for web forms */

div[data-doctype="Web Form"]+section.footer-message,
div#page-login+section.footer-message,
div#page-message+section.footer-message,
body[data-path="me"]>section.footer-message {
    display: none;
}

.password-strength-indicator {
    float: right;
    padding: 15px;
    margin-top: -46px;
    margin-right: -7px;
}

.password-strength-message {
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
}

.testimonial-text {
    color: black;
    line-height: 1.5em;
    font-size: 1.25rem;
    font-weight: 300;
}

.testimonial-container {
    display: flex;
    align-items: center;
    justify-content: center;
}