
{% if address|count>0 %}
{% endif %}
{% if address |count>0%}
    {% set address_template = frappe.get_doc("Address Template",{"is_default":1}) %}
    {% for adr in address %}
        <strong>{{adr.address_title}}</strong>{% if adr.is_primary_address%}&nbsp;&nbsp;<span class="badge badge-primary">Default</span>{% else %}<button class="btn btn-outline-primary pull-right btn-xs" data-name="{{adr.name}}" onclick="javascript:mark_address_primary(this);" style="margin-right:15px; font-size:12px;">Set as Default</button>{% endif %}<button class="btn btn-outline-primary pull-right btn-xs" data-name="{{adr.name}}" onclick="javascript:update_address(this);" style="margin-right:15px; font-size:12px;"><i class="fa fa-edit"></i>&nbsp;Edit</button><br>
        {{frappe.render_template(address_template.template,adr)}}
        <hr>
    {% endfor %}

{% else %}
<div class="row"><div class="col-12">Add your Address.</div></div>
{% endif %}